/* reset */
$min-width: 320px; 
$max-width: 1170px; 
$base-bg: #fff; 
$base-font-size: 16px; 
$base-line-height: 1.3; 
$base-font-family: 'Roboto', sans-serif;
$custom-font-family:  'Futura PT', sans-serif;
$default-transition:all 0.2s linear;

/* main variables */

$color-white:#fff;
$color-grey: #686868;
$color-orange:#F67501;
$color-black:#000;
$color-grey-dark:#303030;


